<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WZWVegetableLocal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B38D3D191D9A761B0038D037</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B38D3D321D9A761C0038D037</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B38D3D3D1D9A761C0038D037</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
